<a href="https://colab.research.google.com/github/Netri-100224/ML-DS-Projects/blob/main/Diabetes__Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler      #to standardise the data#
from sklearn.model_selection import train_test_split
from sklearn import svm  # Support Vector Machine#
from sklearn.metrics import accuracy_score

Data Collection

In [ ]:
#this data set is presnt in uci machine learning repository#
diabetes=pd.read_csv('/content/diabetes.csv')

In [ ]:

#VERY IMP FEATURE OF GOOGLE COLAB AS IT ALLOWS US TO  VIEW DOCUMENTATION OF ANY FUNCTION#
#just select the function and hover cursor over it#

In [ ]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
diabetes.shape

(768, 9)

In [ ]:
diabetes.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
diabetes['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

***Where 0 is diabetic and 1 is non diabetic***

In [ ]:
diabetes.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [ ]:
x=diabetes.drop(columns='Outcome',axis=1)
y=diabetes['Outcome'] #WE SPLIT DATA INTO DATA AND LABELS #

In [ ]:
print (x)
print (y)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

  **Standardization*
 ***BECAUSE THERE IS A HUGE AMOUNT OF DATA AND DATA IS IN  DIFFERENT RANGES SO WE STANDARDIZE IT BETWEEN 0 TO 1 SO THAT IT IS EASIER TO ANALYZE.***

In [ ]:
scale=StandardScaler()

In [ ]:
scale.fit(x)#Mean and standard deviation are then stored to be used on later data using transform.#

StandardScaler()

In [ ]:
Standardized_data=scale.transform(x)

In [ ]:
print(Standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [ ]:
x = Standardized_data
y = diabetes['Outcome']

In [ ]:
print (x)
print(y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

                                                 **TRAIN TEST SPLIT**

In [ ]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)
print(x_train.shape,x_test.shape,x.shape)

(614, 8) (154, 8) (768, 8)

In [ ]:
classifier = svm.SVC(kernel='linear')

In [ ]:
#TRAINING SUPPORT VECTOR MACHINE CLASSIFIER#
classifier.fit(x_train,y_train)

SVC(kernel='linear')

In [ ]:
#Accuracy score on training data#
x_train_accuracy=classifier.predict(x_train)   #predicted labels#
prediction=accuracy_score(x_train_accuracy,y_train)#comparing predicted labels with original labels(y_train)# 
print(prediction)

0.7866449511400652

In [ ]:
#Accuracy score on test data#
x_test_accuracy=classifier.predict(x_test)
prediction=accuracy_score(x_test_accuracy,y_test)
print(prediction)

0.7727272727272727

In [ ]:
#if training data accuracy>>>test data accuracy this is overfitting#
input_data=(1,189,60,23,846,30.1,0.398,59)

#changing input data  into numpy array#
input_data_as_numpy_array=np.asarray(input_data)
#reshaping the data,reshape the data is function in numpy#
input_data_reshaped= input_data_as_numpy_array .reshape(1,-1)  # Since only one instance is present#

std_data= scale.transform(input_data_reshaped)# NO NEED TO FIT DATA AGAIN #
print(std_data)

prediction=classifier.predict(std_data)
# prediction is a list and this list has only one element i.e.  0 or 1 #
if(prediction[0]==1):
  print('DIABETIC')
else:
  print('NOT DIABETIC')

[[-0.84488505  2.13150675 -0.47073225  0.15453319  6.65283938 -0.24020459
  -0.2231152   2.19178518]]
DIABETIC

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"